.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 45px;
    height: 45px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.lined {
    border: 1px solid black;
}

.c-blue {
    background-color: rgba(44, 150, 249, 0.15);
    border-color:rgba(44, 71, 249, 0.893);
    border-style: solid;
    color: black;
}

.c-orange {
    background-color: rgba(249, 157, 44, 0.15);
    border-color:rgba(249, 133, 44, 0.893);
    border-style: solid;
    color: black;
}

